* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* @media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
} */

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 0;
}

/* HEADER START */
header {
  max-width: 1000px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 0;
  margin: 12px auto 12px;
}

.header__author {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.author img {
  margin: 24px 24px 24px 0;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 20px 10px #ccc;
}

.author__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.author__name,
.author__occupation {
  color: rgb(63, 62, 62);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar__nav {
  display: none;
}

.navbar__contacts p {
  display: none;
}

.navbar .socials {
  display: none;
}

.navbar .author {
  display: none;
}

.navbar__toggler {
  padding: 0;
  margin: 0 24px 0 0;
  border: none;
  background: none;
  width: 32px;
  max-height: 100%;
  display: none;
}

.navbar__toggler-line {
  background: rgb(63, 62, 62);
  display: block;
  height: 4px;
  border-radius: 2.5px;
  margin: 5px 0;
  transition: 0.5s;
  max-width: 32px;
}

.socials {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.socials a {
  margin-right: 16px;
}

.socials a:last-of-type {
  margin-right: 0;
}

.socials__link_linkedin path:first-of-type {
  fill: black;
}

.socials__link_linkedin:hover path:first-of-type {
  fill: rgb(63, 62, 62);
}

.socials__link_github:hover path {
  fill: rgb(63, 62, 62);
}

.socials__link_gmail path {
  fill: black;
}

.socials__link_gmail polygon {
  fill: black;
}

.socials__link_gmail:hover path {
  fill: rgb(63, 62, 62);
}

.socials__link_gmail:hover polygon {
  fill: rgb(63, 62, 62);
}

.socials__link_phone:hover path {
  fill: rgb(63, 62, 62);
}

/* HEADER END */

/* MAIN START */

main {
  flex-grow: 1;
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main nav {
  width: 80%;
  max-width: 1000px;
  margin: 30px auto 0;
}

main nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  list-style: none;
}

main nav ul li {
  margin-right: 1.5em;
  font-weight: 600;
}

main nav ul li.current {
  background-color: rgb(238, 235, 235);
  color: white;
  border-radius: 4px;
  padding: 0 8px;
}

main nav ul li a {
  text-decoration: none;
  color: black;
}

main nav ul li a:hover {
  color: rgb(63, 62, 62);
}

main nav ul li:last-of-type {
  margin-right: 0;
}

.main__container {
  max-width: 1000px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 40px auto 60px;
  padding: 40px 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 20px 10px #ccc;
}

.xs-screen-img {
  display: none;
}

/* .hard-skills_main__container {
    max-width: 700px;
    width: 60%;
    padding: 40px 60px;
} */

/* .main__line {
    width: 2px;
    height: 100%;
    background-color: rgb(126, 124, 124);
    border-radius: 4px;
} */

.hard-skills_main__container .main__title {
  margin-bottom: 24px;
}

.hard-skills_main__container ul li:first-of-type {
  margin-top: 8px;
}

.main__lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 24px;
}

.main__container section {
  height: 100%;
  border-radius: 4px;
  border: 1px solid rgb(126, 124, 124);
}

.main__container h4 {
  padding: 16px;
}

.main__container ul {
  list-style: none;
  font-weight: 700;
  padding: 0 16px;
  width: 100%;
}

.main__container ul li {
  font-weight: 400;
  margin-bottom: 0.75em;
}

.main__link {
  color: rgb(26, 33, 78);
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
}

.main__link:hover {
  color: rgb(126, 124, 124);
}

.main__certificate {
  max-width: 100%;
}

.main__container figcaption {
  background-color: rgba(58, 57, 57, 0.7);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}

.main__container pre {
  overflow-x: scroll;
}

.main__title {
  margin-bottom: 0.5em;
}

.main__p {
  margin-bottom: 1em;
}

.main__p:last-of-type {
  margin-bottom: 0;
}

.main__subtitle {
  margin: 16px 0;
  color: rgb(63, 62, 62);
}

.main__subtitle a {
  color: rgb(63, 62, 62);
}

.main__subtitle a:hover {
  color: rgb(126, 124, 124);
}

.main__subtitle span,
.main__subtitle span a {
  font-size: 16px;
  font-weight: 400;
}

.main__p a {
  color: rgb(63, 62, 62);
}

.main__p a:hover {
  color: rgb(126, 124, 124);
}

.main__article-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 32px;
  width: 100%;
  margin: 40px auto 20px;
}

.main__article-container article {
  box-shadow: 0 0 5px 1px rgba(63, 62, 62, 0.4);
  border-radius: 4px;
  padding: 12px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.main__article-container span {
  font-weight: 700;
  color: rgb(63, 62, 62);
}

.main__article-container p a {
  color: rgb(63, 62, 62);
}

.main__article-container p a:hover {
  color: rgb(126, 124, 124);
}

.main__article-container h3 {
  margin-bottom: 16px;
}

.main__article-container article p {
  margin-bottom: 8px;
}

.main__article-container > article > a {
  display: block;
}

.article__img {
  object-fit: cover;
  object-position: left bottom;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.main__img-link {
  position: relative;
  background-color: rgb(182, 179, 179);
  border-radius: 4px;
  overflow: hidden;
}

.main__img-link::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  opacity: 0.1;
  overflow: hidden;
  border-radius: 4px;
}

.main__img-link:hover::before {
  opacity: 0.6;
}

.article__hidden-link {
  display: none;
}

.main__img-link:hover .article__hidden-link {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: absolute;
  top: 43%;
  left: 30%;
}

/* MAIN END */

/* FOOTER START */

footer {
  background-color: rgb(63, 62, 62);
  flex-grow: 0;
  color: white;
}

.footer__container {
  max-width: 1000px;
  width: 80%;
  margin: 40px auto 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__copyright-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
}

.footer__copyright-container a {
  color: white;
}

footer .lists {
  display: flex;
  flex-direction: row;
}

footer .lists ul {
  list-style: none;
  margin-right: 4em;
  line-height: 2em;
}

footer .lists ul:last-of-type {
  margin-right: 0;
}

footer .lists ul li a {
  color: white;
  text-decoration: none;
}

footer .lists ul li:hover a {
  color: rgb(212, 209, 209);
}

.rs_school-logo-link {
  display: block;
  width: 80px;
  margin: 20px 10px 15px 0;
}

.rs_school-logo {
  width: 80px;
  height: auto;
  background-color: azure;
  border-radius: 4px;
  padding: 4px;
  opacity: 0.7;
}

.rs_school-logo-link:hover .rs_school-logo,
.rs_school-logo-link:active .rs_school-logo {
  opacity: 1;
  transition: opacity 0.05s ease-in 0.05s;
}

/* FOOTER END */

@media (max-width: 992px) {
  .main__article-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }

  .main__article-container article {
    max-width: 460px;
    margin: auto;
  }

  .main__lists {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 24px;
  }

  .main__lists h4 {
    text-align: center;
  }

  .main__lists ul {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .author img {
    width: 90px;
  }

  .author__name {
    font-size: 4vw;
  }

  .author__occupation {
    font-size: 2.5vw;
  }

  .navbar_opened .author {
    display: flex;
  }

  .navbar__toggler {
    display: block;
    cursor: pointer;
    height: 32px;
    margin: auto 0;
  }

  .navbar__toggler-line {
    transition: 0.5s;
  }

  .navbar_opened .navbar__toggler-line_top {
    transform: translateY(8px) rotate(135deg);
  }

  .navbar_opened .navbar__toggler-line_bottom {
    transform: translateY(-10px) rotate(-135deg);
  }

  .navbar_opened .navbar__toggler-line_md {
    transform: scale(0);
  }

  .navbar_opened {
    content: " ";
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow-x: hidden;
    background-color: rgba(247, 243, 243, 0.9);
  }

  .navbar_opened .navbar__top {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar_opened .navbar__nav {
    margin: 0 auto;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__nav ul {
    list-style: none;
    width: 100%;
  }

  .navbar__nav ul li {
    width: 100%;
    padding: 16px 12px;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }

  .navbar__nav ul li a {
    width: 100%;
    color: rgb(63, 62, 62);
    text-decoration: none;
  }

  .navbar__nav ul li:hover,
  .navbar__nav ul li:active {
    background-color: azure;
  }

  .navbar__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    width: 90%;
    height: 20%;
  }

  .navbar_opened p {
    display: block;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .navbar_opened .socials {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar_opened .socials svg {
    width: 60px;
    height: 60px;
  }

  .contacts {
    display: none;
  }

  header {
    width: 90%;
    margin: 0 auto;
  }

  main nav {
    display: none;
  }

  .main__container {
    width: 90%;
  }

  .footer__container {
    width: 90%;
    flex-wrap: wrap-reverse;
  }

  .lists ul:last-of-type {
    padding-right: 30px;
  }

  .footer__copyright-container {
    max-width: 250px;
  }

  footer .lists {
    padding-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .header__author {
    padding: 8px;
  }

  .author img {
    display: none;
  }

  .xs-screen-img {
    display: block;
    width: 90%;
    border-radius: 50%;
    margin: 0 auto 24px;
  }

  .navbar_opened .navbar__top {
    margin-top: 8px;
  }

  .author__name {
    font-size: 5vw;
  }

  .author__occupation {
    font-size: 3.5vw;
  }

  footer .lists {
    flex-wrap: wrap;
  }

  footer .lists ul {
    padding: 1em;
  }
}

@media (max-width: 450px) {
  .main__lists {
    grid-template-columns: repeat(1, 1fr);
  }

  .main__lists h4 {
    text-align: left;
  }

  .main__lists ul {
    text-align: left;
  }

  .main__article-container article {
    min-width: 200px;
    width: 100%;
  }

  .main__article-container article .article__img {
    min-width: 200px;
    width: 100%;
  }

  .main__article-container article > div {
    min-width: 200px;
    width: 100%;
  }

  .main__article-container article > div > p {
    max-width: 100%;
    overflow-wrap: break-word;
  }
}

@media (max-width: 378px) {
  .navbar_opened .navbar__top {
    flex-wrap: wrap-reverse;
    margin-top: 0;
    width: 90%;
  }

  .navbar_opened .author {
    padding: 8px;
  }

  /* .navbar_opened .navbar__toggler {
    } */

  .author__name {
    font-size: 20px;
  }

  .author__occupation {
    font-size: 14px;
  }

  .navbar_opened .socials {
    flex-wrap: wrap;
  }

  .navbar_opened .socials a {
    margin: 0;
    padding: 16px;
  }

  .navbar_opened .navbar__contacts {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
  }

  .navbar_opened .navbar__contacts p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .navbar_opened .navbar__nav {
    height: auto;
  }

  .navbar_opened .navbar__nav ul li {
    font-size: 20px;
    font-weight: 700;
    padding: 8px;
  }
}
